@use "../abstract" as *;

.application-area{
    & .application{
        background-position: 0 0;
        background-repeat: no-repeat;
        & .application-content{
            padding-left: 150px;
            padding-right: 60px;
            & h3{
                font-size: 28px;
                color: #fff;
                font-weight: 400;
            }
            & p{
                color: #fff;
                margin-bottom: 25px;
            }
            & .downlod-store{

            }
        }
        & .application-thumb{
            & img{
                margin-top: -40px;
            }
        }
    }
}